html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Mudar background para um de efeito de madeira. Como se fossem cartas na mesa */
    background: #ffffff url('../img/purty_wood.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Bungee', cursive;
    font-weight: 300;
    font-size: 7vw;
    margin: 30px 0 0;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    min-height: 680px;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 0.4s ease;
    transform-style: preserve-3d; 
}

.deck .card.open {
    background: #02b3e4;
    cursor: pointer;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: rubberBand 0.55s;
}

/* https://codepen.io/levineuland/pen/AmwCL */
@keyframes rubberBand {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scaleX(1.25) scaleY(0.75);
    }
    40% {
        transform: scaleX(0.75) scaleY(1.25);
    }
    60% {
        transform: scaleX(1.15) scaleY(0.85);
    }
    100% {
        transform: scale(1);
    }
}

.deck .card.unmatch {

    cursor: default;
    font-size: 33px;
    background: #EF2929;
    animation: shake 0.55s;
}

/* https://codepen.io/levineuland/pen/AmwCL */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 22px;
    font-size: 1.4em;
}

.score-panel .stars {
    background-color: #000000;
    padding: 3px;
    border-radius: 8px;
    display: inline-block;
    margin: 0 5px 0 0;
    color: orange;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#timer {
    width: 70px;
    display: inline-block;
    margin: 0 5px 0 70px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .restart:hover {
    transition: all 0.65s ease;
    transform: rotateZ(360deg);
    color: gray;
}


/*
 * Styles for Modal
 */

.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.show {
    display: flex;
}

.modal {
    background: #ffffff;
    width: 45%;
    min-width: 250px;
    padding: 28px;
    border: 10px solid #02ccba;
    box-shadow: 0 0 0 10px #ffffff;
    font-size: 1.3em;
    text-align: center;
}

.modal-container.show .modal {
    animation: modal .3s;
}

.modal h3 {
    margin: 0;
}

.modal p {
    margin: 0 15px 10px 10px;
    display: inline-block;
}

.modal p:first-child {
    margin: 33px 0;
    display: block;
}

input.button {
    box-shadow: 2px 3px 18px 0 rgba(46, 61, 73, 0.5);
    background-color: black;
    color: white;
    font-family: 'Bungee', cursive;
    cursor: pointer;
    border: 5px solid black;
    border-radius: 6px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);

    }
}


/*
 * Media Queries
 */

@media (max-width: 420px) {
    .deck .card {
        width: 120px;
    }   
}

@media (max-width: 375px) {
    h1 {
        font-size: 2em;
    }

    .deck .card {
        min-width: 200px;
    }   
}